.external-comments {
    display: flex;
    align-items: center;

    .new-icon {
        margin-right: 8px;
    }

    .link {
        a {
            box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
            }
        }
    }
}
